<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.sva.dao.ParamDao">

    <select id="doquery" resultType="ParamModel">
        SELECT * FROM param
    </select>

    <select id="paramUpdateTime" resultType="string">
        SELECT updateTime from param
    </select>
    
    <insert id="saveData">
        REPLACE INTO param( 
            banThreshold,
            filterLength,
            horizontalWeight,
            ongitudinalWeight,
            maxDeviation, 
            exceedMaxDeviation, 
            correctMapDirection,
            restTimes,
            filterPeakError,
            updateTime,
            peakWidth,
            step,
            id
        )VALUES(
            #{banThreshold},
            #{filterLength},
            #{horizontalWeight},
            #{ongitudinalWeight},
            #{maxDeviation},
            #{exceedMaxDeviation},
            #{correctMapDirection},
            #{restTimes},
            #{filterPeakError},
            #{updateTime},
            #{peakWidth},
            #{step},
            #{id}
        )
    </insert>
    
</mapper>