<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.sva.dao.PetAttributesDao">

    <select id="getAllData" resultType="PetAttributesModel">
        SELECT * FROM petsproperties
    </select>
    
    <insert id="saveData">
        INSERT INTO petsproperties(
            probability,viewRange,captureRange,petName,count
        ) VALUES (
            #{probability},
            #{viewRange},
            #{captureRange},
            #{petName},
            #{count}
        )
    </insert>
    
    <update id="updateData">
        UPDATE petsproperties 
        SET 
            probability = #{probability},
            viewRange = #{viewRange},
            captureRange = #{captureRange},
            petName = #{petName},
            count = #{count} 
        WHERE id = #{id}
    </update>
    
    <delete id="deleteData">
        DELETE FROM petsproperties WHERE id = #{value}
    </delete>
    
    <update id="updatePetTime">
        UPDATE petlocation 
        SET petRefreshTime = #{petTime} 
        WHERE petTypes = #{petName}
    </update>
    
    <update id="updatePetTimeByCaputrue">
        UPDATE petlocation SET petRefreshTime = #{petTime}
    </update>
    
</mapper>