<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.sva.dao.PhoneDao">

    <select id="getAllData" resultType="PhoneModel">
        SELECT * FROM phonenumber
    </select>
    
    <insert id="savePhone">
        REPLACE INTO phonenumber(ip,phoneNumber,timestamp) values(#{ip},#{phoneNumber},#{timestamp})
    </insert>
    
</mapper>