<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.sva.dao.PrruDao">

    <select id="getPrruInfoByflooNo" resultType="PrruModel">
        SELECT * from prru where mapId = #{value}
    </select>
    
    <insert id="saveInfo">
        INSERT INTO 
            prru(floorNo,mapId,x,y,pRRUid,name,placeId,neCode) 
        VALUES(#{floorNo},#{mapId},#{x},#{y},#{neId},#{neName},#{placeId},#{neCode})
    </insert>
    
    <delete id="deleteInfo">
        DELETE from prru  WHERE mapId = #{value}
    </delete>
    
    <select id="checkByFloorNo" resultType="int">
        SELECT count(*) res 
        FROM prru 
        WHERE mapId = #{mapId} mapId != #{id}
    </select>
    
    <update id="updateInfo">
        UPDATE  prru 
        SET mapId=#{mapId} 
        WHERE mapId = #{newfloorNo}
    </update>
    
    <select id="getSignal" resultType="Map">
        SELECT * FROM prrusignal where timestamp = (select max(timestamp) from prrusignal where userId = #{userId} and timestamp > #{time}  )
    </select>
    
</mapper>